<!-- 
 * File Name: about.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
<!DOCTYPE html>
<html>
  <head>
    <!-- 
 * File Name: topnav.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
<link rel="stylesheet" href='/Content/app.css'>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
       <a class="navbar-brand" href="/">DB</a>
       <div class="collapse navbar-collapse" id="navbarText">
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                           <% if (title=="Home" ) { %>
                               <li class="nav-item">
                                   <a class="nav-link active" aria-current="page" href="/home"><i
                                           class="fa-sharp fa-solid fa-house"></i>
                                       Home</a>
                               </li>
                               <% } else { %>
                                   <li class="nav-item">
                                       <a class="nav-link" aria-current="page" href="/home"><i
                                               class="fa-sharp fa-solid fa-house"></i>
                                           Home</a>
                                   </li>
                                   <% } %>
                                       <% if (title=="About" ) { %>
                                           <li class="nav-item">
                                               <a class="nav-link active" href="/about"><i
                                                       class="fa-sharp fa-solid fa-circle-info"></i> About</a>
                                           </li>
                                           <% } else { %>
                                               <li class="nav-item">
                                                   <a class="nav-link" href="/about"><i
                                                           class="fa-sharp fa-solid fa-circle-info"></i> About</a>
                                               </li>
                                               <% } %>
                                                   <% if (title=="Services" ) { %>
                                                       <li class="nav-item">
                                                           <a class="nav-link active" href="/services"><i
                                                                   class="fa-solid fa-user-gear"></i> Services</a>
                                                       </li>
                                                       <% } else { %>
                                                           <li class="nav-item">
                                                               <a class="nav-link" href="/services"><i
                                                                       class="fa-solid fa-user-gear"></i> Services</a>
                                                           </li>
                                                           <% } %>

                                                               <% if (title=="Projects" ) { %>
                                                                   <li class="nav-item">
                                                                       <a class="nav-link active" href="/projects"><i
                                                                               class="fa-solid fa-list-ul"></i>
                                                                           Projects</a>
                                                                   </li>
                                                                   <% } else { %>
                                                                       <li class="nav-item">
                                                                           <a class="nav-link" href="/projects"><i
                                                                                   class="fa-solid fa-list-ul"></i>
                                                                               Projects</a>
                                                                       </li>
                                                                       <% } %>
                                                                           <% if (title=="Contact" ) { %>
                                                                               <li class="nav-item">
                                                                                   <a class="nav-link active"
                                                                                       href="/contact"><i
                                                                                           class="fa-solid fa-envelope"></i>
                                                                                       Contact</a>
                                                                               </li>
                                                                               <% } else { %>
                                                                                   <li class="nav-item">
                                                                                       <a class="nav-link"
                                                                                           href="/contact"><i
                                                                                               class="fa-solid fa-envelope"></i>
                                                                                           Contact</a>
                                                                                   </li>
                                                                                   <% } %>
           </ul>
       </div>
   </div>
</nav>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <section id="about">
      <div class="container mt-4 pt-4">
          <h1 class="text-center">About Me</h1>
          <div class="row mt-4">
              <div class="col-lg-4">
                  <img src="/Assets/images/profilepicture.jpg" class="profilepicture" width="200" height="250">
              </div>
              <div class="col-lg-8">
                  <p class="about_desc">I am a Software Engineering student with an eagerness to learn. 
                  </p>
                  <p class="about_desc">I have superb organizational skills; I am a strategic thinker and excel when working independently or with a dynamic team of like-minded individuals.
                </p>
                  <div class="row mt-3">
                      <div class="col-md-6">
                          <ul>
                              <li>Name: Delany Bricker</li>
                              <li>Email: dbricker0@gmail.com</li>
                          </ul>
                      </div>

                  </div>
                  <p>Link to my resume: <a href="/Assets/resume.pdf" target="_blank">View</a></p>
              </div>
  </section>
  </body>
</html>
