<!-- 
 * File Name: contact.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
<!DOCTYPE html>
<html>
  <head>
    <!-- 
 * File Name: topnav.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
<link rel="stylesheet" href='/Content/app.css'>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
       <a class="navbar-brand" href="/">DB</a>
       <div class="collapse navbar-collapse" id="navbarText">
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                           <% if (title=="Home" ) { %>
                               <li class="nav-item">
                                   <a class="nav-link active" aria-current="page" href="/home"><i
                                           class="fa-sharp fa-solid fa-house"></i>
                                       Home</a>
                               </li>
                               <% } else { %>
                                   <li class="nav-item">
                                       <a class="nav-link" aria-current="page" href="/home"><i
                                               class="fa-sharp fa-solid fa-house"></i>
                                           Home</a>
                                   </li>
                                   <% } %>
                                       <% if (title=="About" ) { %>
                                           <li class="nav-item">
                                               <a class="nav-link active" href="/about"><i
                                                       class="fa-sharp fa-solid fa-circle-info"></i> About</a>
                                           </li>
                                           <% } else { %>
                                               <li class="nav-item">
                                                   <a class="nav-link" href="/about"><i
                                                           class="fa-sharp fa-solid fa-circle-info"></i> About</a>
                                               </li>
                                               <% } %>
                                                   <% if (title=="Services" ) { %>
                                                       <li class="nav-item">
                                                           <a class="nav-link active" href="/services"><i
                                                                   class="fa-solid fa-user-gear"></i> Services</a>
                                                       </li>
                                                       <% } else { %>
                                                           <li class="nav-item">
                                                               <a class="nav-link" href="/services"><i
                                                                       class="fa-solid fa-user-gear"></i> Services</a>
                                                           </li>
                                                           <% } %>

                                                               <% if (title=="Projects" ) { %>
                                                                   <li class="nav-item">
                                                                       <a class="nav-link active" href="/projects"><i
                                                                               class="fa-solid fa-list-ul"></i>
                                                                           Projects</a>
                                                                   </li>
                                                                   <% } else { %>
                                                                       <li class="nav-item">
                                                                           <a class="nav-link" href="/projects"><i
                                                                                   class="fa-solid fa-list-ul"></i>
                                                                               Projects</a>
                                                                       </li>
                                                                       <% } %>
                                                                           <% if (title=="Contact" ) { %>
                                                                               <li class="nav-item">
                                                                                   <a class="nav-link active"
                                                                                       href="/contact"><i
                                                                                           class="fa-solid fa-envelope"></i>
                                                                                       Contact</a>
                                                                               </li>
                                                                               <% } else { %>
                                                                                   <li class="nav-item">
                                                                                       <a class="nav-link"
                                                                                           href="/contact"><i
                                                                                               class="fa-solid fa-envelope"></i>
                                                                                           Contact</a>
                                                                                   </li>
                                                                                   <% } %>
           </ul>
       </div>
   </div>
</nav>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <section id="contact">
        <div class="container mt-3 contactContent">
            <h1 class="text-center">Contact Me</h1>

            <div class="row ms-auto mt-4">
                <div class="col-lg-6">
                    <div class="bg-light p-5 rounded-lg m-3">
                        <h3>My Contact Information</h3>
                        <hr class="my-4">
                        <p><i class="fa-regular fa-envelope"></i> dbricker0@gmail.com</p>
                        <i class="fa-brands fa-linkedin"></i> <a
                            href="https://www.linkedin.com/in/delany-bricker-618a0697/">Linkedin</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- form fields -->
                    <form>
                        <input type="text" class="form-control mt-3" placeholder="Full Name">
                        <input type="email" class="form-control mt-3" placeholder="Email">
                        <input type="text" class="form-control mt-3" placeholder="Subject">
                        <div class="mb-3 mt-3">
                            <textarea class="form-control" rows="5" id="comment" name="text"
                                placeholder="Comments"></textarea>
                        </div>
                    </form>
                    <a class="connect" href="mailto:dbricke1@my.centennialcollege.ca" class="contact-btn">Let's Connect</a>

                </div>

            </div>
        </div>
    </section>

  </body>
</html>
