<!-- 
 * File Name: index.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
 <%- include partials/header.ejs %>
 <%- include partials/top_nav.ejs %>
 <!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel='stylesheet' href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='../../public/Content/app.css' />
  </head>
  <body>
    <section class="backgroundimg" id="home_pg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 intro_text">
            <h2 class="intro_heading">Hello, my name is Delany</h2>
            <br>
            <p class="intro_para">I am a Software Engineering student with an eagerness to learn and grow with your company.</p>
            <br>
            <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
          </div>

        </div>
      </div>
    </section>
    <script src="../../jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css"></script>
    <script src = "../Scripts/app.js"></script>
  </body>
</html>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>