<!-- 
 * File Name: projects.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
<!DOCTYPE html>
<html>
  <head>
    <%- include partials/topnav.ejs %>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <section id="portfolio">
        <div class="container mt-3">
            <h1 class="text-center">Projects</h1>
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="/Assets/images/project1.png" alt="Project1"
                            style="width:50%">
                        <div class="card-body">
                            <h4 class="card-title">Sinking of Venice</h4>
                            <p class="card-text">I designed a webpage using HTML and CSS for a Web Design Class.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="/Assets/images/project2.png" alt="Project2"
                            style="width:50%">
                        <div class="card-body">
                            <h4 class="card-title">Car Webpage</h4>
                            <p class="card-text">Another webpage I designed using HTML and CSS for a Web Design Class.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="/Assets/images/project3.png" alt="Project3"
                            style="width:50%">
                        <div class="card-body">
                            <h4 class="card-title">Bug Smash Game</h4>
                            <p class="card-text">A little game that I made for a Web class using javascript.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>
