<!-- 
 * File Name: projects.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
<!DOCTYPE html>
<html>
  <head>
    <!-- 
 * File Name: topnav.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
<link rel="stylesheet" href='/Content/app.css'>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
       <a class="navbar-brand" href="/">DB</a>
       <div class="collapse navbar-collapse" id="navbarText">
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                           <% if (title=="Home" ) { %>
                               <li class="nav-item">
                                   <a class="nav-link active" aria-current="page" href="/home"><i
                                           class="fa-sharp fa-solid fa-house"></i>
                                       Home</a>
                               </li>
                               <% } else { %>
                                   <li class="nav-item">
                                       <a class="nav-link" aria-current="page" href="/home"><i
                                               class="fa-sharp fa-solid fa-house"></i>
                                           Home</a>
                                   </li>
                                   <% } %>
                                       <% if (title=="About" ) { %>
                                           <li class="nav-item">
                                               <a class="nav-link active" href="/about"><i
                                                       class="fa-sharp fa-solid fa-circle-info"></i> About</a>
                                           </li>
                                           <% } else { %>
                                               <li class="nav-item">
                                                   <a class="nav-link" href="/about"><i
                                                           class="fa-sharp fa-solid fa-circle-info"></i> About</a>
                                               </li>
                                               <% } %>
                                                   <% if (title=="Services" ) { %>
                                                       <li class="nav-item">
                                                           <a class="nav-link active" href="/services"><i
                                                                   class="fa-solid fa-user-gear"></i> Services</a>
                                                       </li>
                                                       <% } else { %>
                                                           <li class="nav-item">
                                                               <a class="nav-link" href="/services"><i
                                                                       class="fa-solid fa-user-gear"></i> Services</a>
                                                           </li>
                                                           <% } %>

                                                               <% if (title=="Projects" ) { %>
                                                                   <li class="nav-item">
                                                                       <a class="nav-link active" href="/projects"><i
                                                                               class="fa-solid fa-list-ul"></i>
                                                                           Projects</a>
                                                                   </li>
                                                                   <% } else { %>
                                                                       <li class="nav-item">
                                                                           <a class="nav-link" href="/projects"><i
                                                                                   class="fa-solid fa-list-ul"></i>
                                                                               Projects</a>
                                                                       </li>
                                                                       <% } %>
                                                                           <% if (title=="Contact" ) { %>
                                                                               <li class="nav-item">
                                                                                   <a class="nav-link active"
                                                                                       href="/contact"><i
                                                                                           class="fa-solid fa-envelope"></i>
                                                                                       Contact</a>
                                                                               </li>
                                                                               <% } else { %>
                                                                                   <li class="nav-item">
                                                                                       <a class="nav-link"
                                                                                           href="/contact"><i
                                                                                               class="fa-solid fa-envelope"></i>
                                                                                           Contact</a>
                                                                                   </li>
                                                                                   <% } %>
           </ul>
       </div>
   </div>
</nav>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <section id="portfolio">
        <div class="container mt-3">
            <h1 class="text-center">Projects</h1>
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="/Assets/images/project1.png" alt="Project1"
                            style="width:50%">
                        <div class="card-body">
                            <h4 class="card-title">Sinking of Venice</h4>
                            <p class="card-text">I designed a webpage using HTML and CSS for a Web Design Class.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="/Assets/images/project2.png" alt="Project2"
                            style="width:50%">
                        <div class="card-body">
                            <h4 class="card-title">Car Webpage</h4>
                            <p class="card-text">Another webpage I designed using HTML and CSS for a Web Design Class.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="/Assets/images/project3.png" alt="Project3"
                            style="width:50%">
                        <div class="card-body">
                            <h4 class="card-title">Bug Smash Game</h4>
                            <p class="card-text">A little game that I made for a Web class using javascript.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>
