<!-- 
 * File Name: services.ejs
 * Name: Delany Bricker
 * Student # : 301274147
 * Date: 05/29/2023
 -->
<!DOCTYPE html>
<html>
  <head>
    <%- include partials/topnav.ejs %>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <section id="services">
        <div class="container">
            <h1 class="text-center">Services</h1>
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <img src="/Assets/images/service1.png" alt="" width="100" height="100">
                            <h4 class="card-title mt-3">HTML Web Design</h4>
                            <p class="card-text mt-3">I have enjoyed designing webpages and websites using HTML you can see some examples under projects
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <img src="/Assets/images/service2.png" alt="" width="100" height="100">
                            <h4 class="card-title mt-3">Data Analysis</h4>
                            <p class="card-text mt-3">I enjoy working with data to identify problems and patterns in data to create solutions to problems.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <img src="/Assets/images/service3.jpg" alt="" width="100" height="100">
                            <h4 class="card-title mt-3">Programming</h4>
                            <p class="card-text mt-3">I have experience using programming languages like C#, Python, Javascript, Java and SQL</p>
                        </div>
                    </div>
                </div>
            </div>

  </body>
</html>
